var time_change = function time_change(res_add_time) {
  var add_time = getDate(res_add_time * 1000)
  var Y = add_time.getFullYear();
  var M = (add_time.getMonth() + 1 < 10 ? '0' + (add_time.getMonth() + 1) : add_time.getMonth() + 1);
  var D = (add_time.getDate() < 10 ? '0' + add_time.getDate() : add_time.getDate());
  var H = (add_time.getHours() < 10 ? '0' + add_time.getHours() : add_time.getHours());
  var min = (add_time.getMinutes() < 10 ? '0' + add_time.getMinutes() : add_time.getMinutes());
  var S = (add_time.getSeconds() < 10 ? '0' + add_time.getSeconds() : add_time.getSeconds())
  var res_val = Y + "-" + M + "-" + D + " " + H + ":" + min + ":" + S;
  return res_val
}
module.exports={
  time_change:time_change
}